In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
Data = pd.read_csv(r"C:\Users\sk062\Documents\Data\Google Search\Search.csv",encoding= "shift-jis")
Data["Data"] = pd.to_datetime(Data["Data"])
Data["Year"] = Data["Data"].dt.year
Data['Month'] = Data['Data'].dt.month
Data['Day'] = Data['Data'].dt.day
Data["Week_number"] = Data["Data"].dt.isocalendar().week
Data.head()

,Data,AIR JORDAN,AIR FORCE,AIR MAX,DUNK,Year,Month,Day,Week_number
0,2019-12-15,43,22,62,6,2019,12,15,50
1,2019-12-22,47,22,65,4,2019,12,22,51
2,2019-12-29,51,26,100,3,2019,12,29,52
3,2020-01-05,44,20,74,4,2020,1,5,1
4,2020-01-12,41,23,68,4,2020,1,12,2

In [27]:
Data["fluctuation_AIRJIORDAN"] = Data['AIR JORDAN'] - Data['AIR JORDAN'].shift(1)
Data["fluctuation_AIR_FORCE"] = Data['AIR FORCE'] - Data['AIR FORCE'].shift(1)
Data["fluctuation_AIR_MAX"] = Data['AIR MAX'] - Data['AIR MAX'].shift(1)
Data["fluctuation_DUNK"] = Data['DUNK'] - Data['DUNK'].shift(1)
Data = Data.fillna(0)

In [28]:
Data.describe()

,Data,AIR JORDAN,AIR FORCE,AIR MAX,DUNK,Year,Month,Day,Week_number,fluctuation_AIRJIORDAN,fluctuation_AIR_FORCE,fluctuation_AIR_MAX,fluctuation_DUNK
count,262,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.000000,262.0,262.000000,262.000000,262.000000,262.000000
mean,2022-06-15 12:00:00,48.667939,30.637405,44.835878,7.522901,2021.954198,6.526718,15.797710,26.69084,0.041985,0.019084,-0.141221,-0.011450
min,2019-12-15 00:00:00,19.000000,15.000000,22.000000,2.000000,2019.000000,1.000000,1.000000,1.0,-20.000000,-23.000000,-26.000000,-15.000000
25%,2021-03-15 18:00:00,43.000000,23.250000,34.250000,4.000000,2021.000000,4.000000,8.000000,14.0,-3.000000,-2.000000,-3.000000,-1.000000
50%,2022-06-15 12:00:00,48.000000,30.500000,43.000000,6.000000,2022.000000,7.000000,16.000000,27.0,0.000000,0.000000,0.000000,0.000000
75%,2023-09-15 06:00:00,53.000000,37.000000,52.000000,8.000000,2023.000000,10.000000,23.000000,40.0,3.000000,2.000000,3.000000,1.000000
max,2024-12-15 00:00:00,94.000000,60.000000,100.000000,32.000000,2024.000000,12.000000,31.000000,53.0,20.000000,21.000000,35.000000,16.000000
std,NaN,9.574493,8.460536,13.273998,5.787873,1.437658,3.472560,8.797483,15.13793,5.884110,4.431213,6.287424,3.483385

In [29]:
filtered_2019 = Data [ Data ["Year"] == 2019 ]
filtered_2020 = Data [ Data ["Year"] == 2020 ]
filtered_2021 = Data [ Data ["Year"] == 2021 ]
filtered_2022 = Data [ Data ["Year"] == 2022 ]
filtered_2023 = Data [ Data ["Year"] == 2023 ]
filtered_2024 = Data [ Data ["Year"] == 2024 ]

In [30]:
print(filtered_2019.shape)
print(filtered_2020.shape)
print(filtered_2021.shape)
print(filtered_2022.shape)
print(filtered_2023.shape)
print(filtered_2024.shape)

(3, 13)
(52, 13)
(52, 13)
(52, 13)
(53, 13)
(50, 13)

In [45]:
filtered_total = Data[["Data","fluctuation_AIRJIORDAN","fluctuation_AIR_FORCE","fluctuation_AIR_MAX","fluctuation_DUNK"]]
filtered_total_corr = filtered_total.corr

In [46]:
filtered_total_corr

<bound method DataFrame.corr of           Data  fluctuation_AIRJIORDAN  fluctuation_AIR_FORCE  \
0   2019-12-15                     0.0                    0.0
1   2019-12-22                     4.0                    0.0
2   2019-12-29                     4.0                    4.0
3   2020-01-05                    -7.0                   -6.0
4   2020-01-12                    -3.0                    3.0
..         ...                     ...                    ...
257 2024-11-17                     9.0                    2.0
258 2024-11-24                     2.0                    4.0
259 2024-12-01                    -1.0                    2.0
260 2024-12-08                    -1.0                   -4.0
261 2024-12-15                     3.0                    2.0

     fluctuation_AIR_MAX  fluctuation_DUNK
0                    0.0               0.0
1                    3.0              -2.0
2                   35.0              -1.0
3                  -26.0               1.0
4                   -6.0               0.0
..                   ...               ...
257                 24.0               2.0
258                 -8.0               0.0
259                -10.0              -3.0
260                 -1.0               0.0
261                 -2.0               0.0

[262 rows x 5 columns]>

In [31]:
filtered_2019 = filtered_2019[["Data","fluctuation_AIRJIORDAN","fluctuation_AIR_FORCE","fluctuation_AIR_MAX","fluctuation_DUNK"]]
filtered_2020 = filtered_2019[["Data","fluctuation_AIRJIORDAN","fluctuation_AIR_FORCE","fluctuation_AIR_MAX","fluctuation_DUNK"]]
filtered_2021 = filtered_2019[["Data","fluctuation_AIRJIORDAN","fluctuation_AIR_FORCE","fluctuation_AIR_MAX","fluctuation_DUNK"]]
filtered_2022 = filtered_2019[["Data","fluctuation_AIRJIORDAN","fluctuation_AIR_FORCE","fluctuation_AIR_MAX","fluctuation_DUNK"]]
filtered_2023 = filtered_2019[["Data","fluctuation_AIRJIORDAN","fluctuation_AIR_FORCE","fluctuation_AIR_MAX","fluctuation_DUNK"]]
filtered_2024 = filtered_2019[["Data","fluctuation_AIRJIORDAN","fluctuation_AIR_FORCE","fluctuation_AIR_MAX","fluctuation_DUNK"]]

In [38]:
filtered_2019_Corr = filtered_2019.corr()
filtered_2020_Corr = filtered_2020.corr()
filtered_2021_Corr = filtered_2021.corr()
filtered_2022_Corr = filtered_2022.corr()
filtered_2023_Corr = filtered_2023.corr()
filtered_2024_Corr = filtered_2024.corr()

In [39]:
filtered_2019_Corr

,Data,fluctuation_AIRJIORDAN,fluctuation_AIR_FORCE,fluctuation_AIR_MAX,fluctuation_DUNK
Data,1.000000,0.866025,0.866025,0.902094,-0.500000
fluctuation_AIRJIORDAN,0.866025,1.000000,0.500000,0.565466,-0.866025
fluctuation_AIR_FORCE,0.866025,0.500000,1.000000,0.997006,0.000000
fluctuation_AIR_MAX,0.902094,0.565466,0.997006,1.000000,-0.077322
fluctuation_DUNK,-0.500000,-0.866025,0.000000,-0.077322,1.000000

In [42]:
filtered_2022_Corr

,Data,fluctuation_AIRJIORDAN,fluctuation_AIR_FORCE,fluctuation_AIR_MAX,fluctuation_DUNK
Data,1.000000,0.866025,0.866025,0.902094,-0.500000
fluctuation_AIRJIORDAN,0.866025,1.000000,0.500000,0.565466,-0.866025
fluctuation_AIR_FORCE,0.866025,0.500000,1.000000,0.997006,0.000000
fluctuation_AIR_MAX,0.902094,0.565466,0.997006,1.000000,-0.077322
fluctuation_DUNK,-0.500000,-0.866025,0.000000,-0.077322,1.000000